<script src="{{ base_path }}/assets/js/main.min.js"></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}
<!-- Default Statcounter code for self website https://roushelfy.github.io/ -->
<script type="text/javascript">
    var sc_project = 13043273;
    var sc_invisible = 1;
    var sc_security = "86ae76cf"; 
</script>
<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript>
    <div class="statcounter"><a title="hit counter" href="https://statcounter.com/" target="_blank"><img
                class="statcounter" src="https://c.statcounter.com/13043273/0/86ae76cf/1/" alt="hit counter"
                referrerPolicy="no-referrer-when-downgrade"></a></div>
</noscript>
<!-- End of Statcounter Code -->